@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Montserrat:wght@400;600&display=swap');

:root {
    --primary-color: #1A47B8;
    --secondary-color: #DBDBDB;
    --gradient-vertical: linear-gradient(to bottom, #1A47B8, #0C2052);
    --gradient-horizontal: linear-gradient(to right, #0C2052, #1A47B8);
    --white: #ffffff;

    --ff: 'Raleway', serif;
}

* {
    margin: 0px;
    border: 0px;
    padding: 0px;
    box-sizing: 0px;
}

a {
    text-decoration: none;
}

header {
    height: 100px;
    background-color: #000D46;
    color: #ffffff;
}

.navbar_container {
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    height: 120px;
}

.navbar_links {
    list-style: none;
    display: flex;
    gap: 2rem;
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar_links a {
    color: var(--white);
    font-weight: 600;
    font-size: 25px;
    transition: 0.3s;
}

.navbar_links a:hover {
    color: #4169E1;
}

.navbar_links li{
    font-size: 26px;
}

.profile_section{
    color: var(--white);
    font-weight: 600;
    font-size: 25px;
    transition: 0.3s;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.profile_section a{
    margin-right: auto;
    color: #4169E1;
    font-weight: 600;
    font-size: 25px;
    transition: 0.3s;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.profile_section img{
    margin-left: 15px;
}

.navbar_logo img {
    display: inline-block;
    margin-left: -130px;
    margin-top: 10px;
    width: auto;
    height: 200px;
}

body {
    background: #000D46;
}

.foto_do_blog img{
    display: block;
    margin: auto;
    width: 50%;
    margin-top: 50px;
    border-radius: 15px;
}

.titulo {
    text-align: center;
    color: #EAEAEA;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.texto {
    text-align: left;
    color: rgb(234, 234, 234);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    outline: black;
    max-width: 50%;
    margin: auto;
}

.texto_do_blog a {
    color: #606060;
    font-weight: bold;
    outline: oldlace;
    text-decoration: underline;
}
