@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Montserrat:wght@400;600&display=swap');

:root {
    --primary-color: #1A47B8;
    --secondary-color: #DBDBDB;
    --gradient: linear-gradient(to right bottom, #0C2052, #1A47B8); 
--gradient-horizontal: linear-gradient(to right, #0C2052, #1A47B8);
    --white: #ffffff;

    --ff: 'Raleway', serif;
}

* {
    margin: 0px;
    border: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
  /* background-color: #000b3f; /* mesma cor de fundo da seção */
  margin: 0; 
  padding: 0;
}


/* .login{
    background-image: url('../img/Background.png');
    padding-block: 400px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

} */

.login {
    position: relative;
    overflow: hidden;
    background-image: url('../img/Background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('../img/Background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background: rgba(0, 0, 0, 0.2); /* Deixa o fundo quase transparente */
    backdrop-filter: blur(10px);
    z-index: -1;
}


/*.login ion-icon {
    color: white;
    font-size: 300px;
    border: 1px solid var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15%;

}*/

.login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.login-icon {
    color: var(--white);
    font-size: 300px;
    /*border: 1px solid var(--white);*/
    width: 15%;
    aspect-ratio: 1 / 1; /* mantém quadrado */
    border-radius: 15%;
    margin-top: -18%;
    position: absolute;
    display: flex; /* Centraliza tudo*/
    align-items: center;
    justify-content: center;
}

/*Gropo do Email e Login*/
.input-group {
    display: flex;
    align-items: center;
    background-color: #ffffff33;
    border-radius: 5px;
    padding: 10px 12px;
    width: 250px;
}

.input-group ion-icon {
    color: var(--white);
    font-size: 22px;
    margin-right: 10px;
}

.icon-mail {
    color: #68b4ff;
}

.icon-lock {
    color: #ffae42;
}

.input-group input {
    background: transparent;
    color: var(--white);
    outline: none;
    flex: 1;
}

.options {
    display: flex;
    justify-content: space-between;
    width: 250px;
    font-size: 14px;
    color: var(--white);
}

.options a {
    color: #ccc;
    text-decoration: none;
}

.btn-login {
    background: var(--gradient-horizontal);
    color: var(--white);
    border: none;
    padding: 10px 0;
    border-radius: 5px;
    width: 250px;
    font-weight: bold;
    cursor: pointer;
}