@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Montserrat:wght@400;600&display=swap');

:root {
    --primary-color: #1A47B8;
    --secondary-color: #DBDBDB;
    --text-dark: #000;
    --gradient-vertical: linear-gradient(to bottom, #1A47B8, #0C2052);
    --gradient-horizontal: linear-gradient(to right, #0C2052, #1A47B8);
    --white: #ffffff;
    --ff-playfair: 'Playfair Display', serif;
    --ff: 'Raleway', serif;
}

* {
    margin: 0px;
    border: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

header {
    height: 100px;
    background-color: #000D46;
    color: #ffffff;
}

body {
    background-color: #000D46;
}

.navbar_container {
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    height: 120px;
}

.navbar_links {
    list-style: none;
    display: flex;
    gap: 1.6rem;
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar_links a {
    color: var(--white);
    font-weight: 600;
    font-size: 26px;
    transition: 0.3s;
}

.navbar_links a:hover {
    color: #4169E1;
}

.navbar_links li {
    font-size: 26px;
}

.profile_section {
    color: var(--white);
    font-weight: 600;
    font-size: 25px;
    transition: 0.3s;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.profile_section a {
    margin-right: auto;
    color: #4169E1;
    font-weight: 600;
    font-size: 25px;
    transition: 0.3s;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.profile_section img {
    margin-left: 15px;
}

.navbar_logo img {
    display: inline-block;
    margin-left: -130px;
    margin-top: 10px;
    width: auto;
    height: 200px;
}

/* Equipe */
.equipe {
    padding: 80px 20px;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--white);
}

.titulo-secao h2 {
    font-size: 2.8rem;
    color: var(--secondary-color);
    margin-bottom: 10px;
}

.titulo-secao p {
    color: var(--extra-light);
    font-size: 1.2rem;
    margin-bottom: 50px;
}

/* ===== FLEXBOX ===== */
.cards-equipe {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 40px;
    max-width: 1400px;
    margin: 0 auto;
}

/* ===== CARD ===== */
.card {
    background: #ffffff78;
    border-radius: 20px;
    padding: 30px 25px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    flex: 1 1 calc(33.333% - 40px);
    /*1 1 300px; */
    max-width: 380px;
    animation: fadeUp 0.8s ease forwards;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
}

/* ===== AVATAR ===== */
.avatar {
    position: relative;
    width: 140px;
    height: 140px;
    margin: 0 auto 20px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border: 3px solid var(--secondary-color);
    transition: transform 0.3s ease;
}

.avatar:hover {
    transform: scale(1.05);
}

/* ===== OVERLAY ===== */
.overlay {
    position: absolute;
    inset: 0;
    background: rgba(15, 26, 44, 0.7);
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.4s ease;
}

.avatar:hover .overlay {
    opacity: 1;
}

/* ===== REDES SOCIAIS ===== */
.social {
    display: flex;
    gap: 14px;
}

.social a {
    color: var(--white);
    font-size: 1.4rem;
    width: 38px;
    height: 38px;
    border: 1px solid var(--white);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.social a:hover {
    background: var(--secondary-color);
    border-color: transparent;
    transform: scale(1.1);
}

.social a:hover ion-icon {
    transform: rotate(10deg);
    transition: transform 0.3s ease;
}

/* ===== TEXTO ===== */
.card h3 {
    color: var(--primary-color);
    font-size: 1.3rem;
    margin-top: 10px;
    margin-bottom: 8px;
}

.card p {
    color: var(--text-dark);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    line-height: 1.6;
}

/* ===== IMAGENS ===== */
.membro1 .avatar {
    background-image: url('../img/membro-JOAO.jpeg');
}

.membro2 .avatar {
    background-image: url('../img/membro-ANANDA.jpeg');
}

.membro3 .avatar {
    background-image: url('../img/membro-ANA.jpeg');
}

.membro4 .avatar {
    background-image: url('../img/membro-BRUNO.jpeg');
}

.membro5 .avatar {
    background-image: url('../img/membro-OSVALDO.jpeg');
}


/* ===== ANIMAÇÃO DE ENTRADA ===== */
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card:nth-child(1) {
    animation-delay: 0.2s;
}

.card:nth-child(2) {
    animation-delay: 0.4s;
}

.card:nth-child(3) {
    animation-delay: 0.6s;
}

.card:nth-child(4) {
    animation-delay: 0.8s;
}

.card:nth-child(5) {
    animation-delay: 1s;
}