@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Montserrat:wght@400;600&display=swap');

:root {
    --primary-color: #1A47B8;
    --secondary-color: #DBDBDB;
    --text-dark: #000;
    --gradient-vertical: linear-gradient(to bottom, #1A47B8, #0C2052);
    --gradient-horizontal: linear-gradient(to right, #0C2052, #1A47B8);
    --white: #ffffff;
    --ff-playfair: 'Playfair Display', serif;
    --ff: 'Raleway', serif;
}

* {
    margin: 0px;
    border: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

header {
    height: 100px;
    background-color: #000D46;
    color: #ffffff;
}

body {
    background-color: #000D46;
}

.navbar_container {
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    height: 120px;
}

.navbar_links {
    list-style: none;
    display: flex;
    gap: 1.6rem;
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar_links a {
    color: var(--white);
    font-weight: 600;
    font-size: 26px;
    transition: 0.3s;
}

.navbar_links a:hover {
    color: #4169E1;
}

.navbar_links li {
    font-size: 26px;
}

.profile_section {
    color: var(--white);
    font-weight: 600;
    font-size: 25px;
    transition: 0.3s;
    display: flex;
    gap: 0.7rem;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.profile_section a {
    margin-right: auto;
    color: #4169E1;
    font-weight: 600;
    font-size: 25px;
    transition: 0.3s;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.profile_section img {
    margin-left: 15px;
}

/* ===== CAIXA DE SELEÇÃO ===== */
.language-selector {
    display: flex;
    align-items: center;
    gap: 8px;
    background: var(--white);
    border: 1px solid var(--secondary-color);
    border-radius: 8px;
    padding: 3px 6px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .language-selector:hover {
    background: var(--secondary-color);
  }
  
  .lang-icon {
    font-size: 1.3rem;
    align-items: center;
    color: var(--secondary-color);
    transition: color 0.3s;
  }
  
  .language-selector:hover .lang-icon {
    color: var(--primary-color);
  }
  
  .lang-select {
    border: none;
    outline: none;
    background: transparent;
    font-weight: 600;
    color: var(--white);
    font-size: 1.3rem;
    cursor: pointer;
    padding: 2px;
    border-radius: 6px;
    width: 60px;
  }

  .lang-select option {
    color: var(--text-dark);
  }
  
  .language-selector:hover .lang-select {
    color: var(--primary-color);
  }

.navbar_logo img {
    display: inline-block;
    margin-left: -130px;
    margin-top: 10px;
    width: auto;
    height: 200px;
}

/* Equipe */
.equipe {
    padding: 80px 20px;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--white);
}

.titulo-secao h2 {
    font-size: 2.8rem;
    color: var(--secondary-color);
    margin-bottom: 10px;
}

.titulo-secao p {
    color: var(--extra-light);
    font-size: 1.2rem;
    margin-bottom: 50px;
}

/* ===== FLEXBOX ===== */
.cards-equipe {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 40px;
    max-width: 1400px;
    margin: 0 auto;
}

/* ===== CARD ===== */
.card {
    background: #ffffff78;
    border-radius: 20px;
    padding: 30px 25px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    flex: 1 1 calc(33.333% - 40px);
    /*1 1 300px; */
    max-width: 380px;
    animation: fadeUp 0.8s ease forwards;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
}

/* ===== AVATAR ===== */
.avatar {
    position: relative;
    width: 140px;
    height: 140px;
    margin: 0 auto 20px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border: 3px solid var(--secondary-color);
    transition: transform 0.3s ease;
}

.avatar:hover {
    transform: scale(1.05);
}

/* ===== OVERLAY ===== */
.overlay {
    position: absolute;
    inset: 0;
    background: rgba(15, 26, 44, 0.7);
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.4s ease;
}

.avatar:hover .overlay {
    opacity: 1;
}

/* ===== REDES SOCIAIS ===== */
.social {
    display: flex;
    gap: 14px;
}

.social a {
    color: var(--white);
    font-size: 1.4rem;
    width: 38px;
    height: 38px;
    border: 1px solid var(--white);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.social a:hover {
    background: var(--secondary-color);
    border-color: transparent;
    transform: scale(1.1);
}

.social a:hover ion-icon {
    transform: rotate(10deg);
    transition: transform 0.3s ease;
}

/* ===== TEXTO ===== */
.card h3 {
    color: var(--primary-color);
    font-size: 1.3rem;
    margin-top: 10px;
    margin-bottom: 8px;
}

.card p {
    color: #323234;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    line-height: 1.6;
}

/* ===== IMAGENS ===== */
.membro1 .avatar {
    background-image: url('../img/membro-JOAO.jpeg');
}

.membro2 .avatar {
    background-image: url('../img/membro-ANANDA.jpeg');
}

.membro3 .avatar {
    background-image: url('../img/membro-ANA.jpeg');
}

.membro4 .avatar {
    background-image: url('../img/membro-BRUNO.jpeg');
}

.membro5 .avatar {
    background-image: url('../img/membro-OSVALDO.jpeg');
}


/* ===== ANIMAÇÃO DE ENTRADA ===== */
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card:nth-child(1) {
    animation-delay: 0.2s;
}

.card:nth-child(2) {
    animation-delay: 0.4s;
}

.card:nth-child(3) {
    animation-delay: 0.6s;
}

.card:nth-child(4) {
    animation-delay: 0.8s;
}

.card:nth-child(5) {
    animation-delay: 1s;
}

/* footer */
footer {
    background: var(--gradient-vertical);
    color: white;
    padding: 40px 20px 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: Montserrat;
}


.footer_logo {
    flex: 1;
    min-width: 250px;
    text-align: left;
}

.footer_logo img {
    margin-bottom: 15px;
    display: block;
}

#footer_logo_text {
    font-size: 16px;
    color: #cccccc;
    margin: 0;
    line-height: 1.5;
}

/* Links  */
.footer_links {
    flex: 1;
    min-width: 200px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 20px;
}

.footer_links li {
    cursor: pointer;
    transition: color 0.3s;
    font-size: 24px;
    font-weight: bold;
    padding: 5px 0;
}

.footer_links li:hover {
    color: #1A47B8;
}

/* contato */
.footer_contact {
    flex: 1;
    min-width: 200px;
    text-align: left;
}

.footer_title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
}

.footer_contact ion-icon {
    vertical-align: middle;
    margin-right: 5%;
    color: #ffffff;
    font-size: 18px;
}

.footer_text {
    display: inline-block;
    color: #cccccc;
    font-size: 14px;
    margin: 0 0 15px 0;
    margin-right: 2%;
}

.footer_contact img {
    margin-top: 10px;
    border-radius: 4px;
    display: block;
}


.footer_final {
    flex: 1;
    min-width: 250px;
    text-align: left;
}

.bandeiras {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}


.footer_final .footer_title {
    margin-top: 0;
    margin-bottom: 15px;
    text-align: left;
}

.footer_final input {
    padding: 10px 12px;
    border: none;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.9);
    color: #333;
    font-size: 14px;
    width: 200px;
    margin-right: 8px;
    display: block;
    margin-bottom: 10px;
}

.footer_final input::placeholder {
    color: #666;
}

.footer_final button {
    padding: 10px 20px;
    background-color: #1A47B8;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    display: block;
}

.footer_final button:hover {
    background-color: #0C2052;
}

.footer_contact ion-icon {
    font-size: 26px !important;
    margin-right: 12px !important;
}

.footer_final ion-icon {
    font-size: 32px !important;
    margin-right: 4px !important;
    gap: 8px;
}


ion-icon[name="logo-whatsapp"],
ion-icon[name="mail-outline"] {
    font-size: 24px !important;
}

ion-icon[name="logo-instagram"],
ion-icon[name="logo-youtube"] {
    font-size: 36px !important;
    padding-left: 0;
    color: black;
}


footer > span {
    flex-basis: 100%;
    text-align: center;
    color: #cccccc;
    font-size: 14px;
    margin-bottom: 10px;
}

/* respomsividade */
@media (max-width: 768px) {
    footer {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }
    
    .footer_logo {
        text-align: center;
    }
    
    .footer_logo img {
        margin-left: auto;
        margin-right: auto;
    }
    
    .footer_links {
        grid-template-columns: 1fr;
        text-align: center;
    }
    
    .footer_contact {
        text-align: center;
    }
    
    .footer_contact img {
        margin: 10px auto 0;
    }
    
    .footer_final {
        text-align: center;
    }
    
    .footer_final input {
        width: 100%;
        margin: 0 0 10px 0;
    }
    
    .footer_final button {
        width: 100%;
        margin: 0 auto;
    }
}


@media (max-width: 480px) {
    footer {
        padding: 30px 15px 15px;
    }
    
    .footer_logo,
    .footer_links,
    .footer_contact,
    .footer_final {
        min-width: 100%;
    }
    
    .footer_final input {
        width: 100%;
    }
}
