* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
body {
  font-family: "Montserrat", sans-serif;
  margin: 0; 
  padding: 0;
  background-image: url('../img/Background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  color: #fff;
  background-color: #001a4d;
}

a {
    text-decoration: none;
}

header {
    height: 100px;
    background: transparent;
    /* color: #ffffff; */
    margin-bottom: 90px;
}

header::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('../img/Background.png');
  background-size: cover;
  background-position: center;
   background: rgba(0, 0, 0, 0.2); /* um fundo semi-transparente */
  backdrop-filter: blur(10px);
  z-index: -1;
  
}

body {
  background-color: #D3D3D3;
}

.navbar_container {
  max-width: 1400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  height: 120px;
}

.navbar_links {
  list-style: none;
  display: flex;
  gap: 1.6rem;
  color: #ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar_links a {
  color: var(--white);
  font-weight: 600;
  font-size: 26px;
  transition: 0.3s;
}

.navbar_links a:hover {
  color: #4169E1;
}

.navbar_links li {
  font-size: 26px;
}

.profile_section{
  color: var(--white);
  font-weight: 600;
  font-size: 25px;
  transition: 0.3s;
  display: flex;
  gap: 0.7rem;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.profile_section a{
  margin-right: auto;
  color: #4169E1;
  font-weight: 600;
  font-size: 25px;
  transition: 0.3s;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.profile_section img{
  margin-left: 15px;
}

/* ===== CAIXA DE SELEÇÃO ===== */
.language-selector {
  display: flex;
  align-items: center;
  gap: 8px;
  background: var(--white);
  border: 1px solid var(--secondary-color);
  border-radius: 8px;
  padding: 3px 6px;
  cursor: pointer;
  transition: 0.3s;
}

.language-selector:hover {
  background: var(--secondary-color);
}

.lang-icon {
  font-size: 1.3rem;
  align-items: center;
  color: var(--secondary-color);
  transition: color 0.3s;
}

.language-selector:hover .lang-icon {
  color: var(--primary-color);
}

.lang-select {
  border: none;
  outline: none;
  background: transparent;
  font-weight: 600;
  color: var(--white);
  font-size: 1.3rem;
  cursor: pointer;
  padding: 2px;
  border-radius: 6px;
  width: 60px;
}

.lang-select option {
  color: var(--text-dark);
}

.language-selector:hover .lang-select {
  color: var(--primary-color);
}

.navbar_logo img {
  display: inline-block;
  margin-left: -130px;
  margin-top: 10px;
  width: auto;
  height: 200px;
}

.sobre-nos {
  height: 100vh;
  background-image: url(../img/Background.png); /* Coloque sua imagem aqui */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.sobre-nos::before { /*cria efeitos visuais, adicionar ícones, fundos, sombras, camadas de cor*/
  content: "";
  position: absolute;
  inset: 0;
  backdrop-filter: blur(10px); /*blur, brilho, contraste*/
  background: rgba(0, 0, 80, 0.6);
  z-index: 1;
}

.overlay {
  position: relative; /* Garante que o conteúdo fique acima do fundo */
  z-index: 2; /* Coloca essa camada sobre o blur */
  width: 70%;
  max-width: 700px;
  background: rgba(0, 0, 100, 0.4); /* Fundo levemente transparente */
  padding: 40px;
  border-radius: 20px;
  position: absolute;
  left: 15%;
  display: flexbox;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.titulo {
  display: block;
  margin: 0 auto 20px;
  padding: 15px 75px;
  background: linear-gradient(90deg, #1A47B8, #0C2052);
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 1.3rem;
  font-weight: 700;
  cursor: default;
}

.texto p {
  margin-bottom: 64px;
  line-height: 1.8;
  font-size: 1.1rem;
  text-align: justify;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
