* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #001a4d;
  color: #fff;
  margin: 0;
  padding: 0;
}

.sobre-nos {
  height: 100vh;
  background-image: url(../img/Background.png); /* Coloque sua imagem aqui */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.sobre-nos::before { /*cria efeitos visuais, adicionar ícones, fundos, sombras, camadas de cor*/
  content: "";
  position: absolute;
  inset: 0;
  backdrop-filter: blur(10px); /*blur, brilho, contraste*/
  background: rgba(0, 0, 80, 0.6);
  z-index: 1;
}

.overlay {
  position: relative; /* Garante que o conteúdo fique acima do fundo */
  z-index: 2; /* Coloca essa camada sobre o blur */
  width: 70%;
  max-width: 700px;
  background: rgba(0, 0, 100, 0.4); /* Fundo levemente transparente */
  padding: 40px;
  border-radius: 20px;
  position: absolute;
  left: 15%;
  display: flexbox;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.titulo {
  display: block;
  margin: 0 auto 20px;
  padding: 15px 75px;
  background: linear-gradient(90deg, #1A47B8, #0C2052);
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 1.3rem;
  font-weight: 700;
  cursor: default;
}

.texto p {
  margin-bottom: 64px;
  line-height: 1.8;
  font-size: 1.1rem;
  text-align: justify;
}

img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
