@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Montserrat:wght@400;600&display=swap');

:root {
    --primary-color: #1A47B8;
    --secondary-color: #DBDBDB;
    --gradient-vertical: linear-gradient(to top bottom, #1A47B8, #0C2052);
    --gradient-horizonta: linear-gradient(to right left, #0C2052, #1A47B8);
    --white: #ffffff;

    --ff: 'Raleway', serif;
}

* {
    margin: 0px;
    border: 0px;
    padding: 0px;
    box-sizing: 0px;
}

a {
    text-decoration: none;
}

header {
    height: 100px;
    background-color: #000D46;
    color: #ffffff;
}

.navbar_container {
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    height: 120px;
}

.navbar_links {
    list-style: none;
    display: flex;
    gap: 2rem;
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar_links a {
    color: var(--white);
    font-weight: 600;
    font-size: 25px;
    transition: 0.3s;
}

.profile_section{
    color: var(--white);
    font-weight: 600;
    font-size: 25px;
    transition: 0.3s;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar_logo img {
    display: inline-block;
    margin-left: -130px;
    margin-top: 10px;
    width: auto;
    height: 200px;
}

.hero_section {
    background-image: url('../img/Background.png');
    padding-block: 250px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #ffffff;
    /*align-items: center;
    justify-content: center;
    text-align: center; */

}

.hero_section h1 {
    font-family: Bungee;
    font-size: 75px;
    padding-left: 500px;
}

.hero_section h3 {
    font-family: Montserrat;
    color: #ffffff;
    font-size: 55px;
    padding-top: 60px;
    padding-left: 60px;
}

.search_field {
  background-color: #ffffff;
  padding: 40px 0;
  text-align: center;
  font-family: Montserrat, sans-serif;
}


.search_container p {
  font-size: 32px;       
  font-weight: 600;
  margin-bottom: 25px;
}


.button_group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}


.button_group button {
  border: 1px solid #ccc;
  background-color: #fff;
  color: #000;
  font-weight: 600;
  font-size: 18px;       
  padding: 14px 30px;    
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}


#blue-button {
  background: linear-gradient(to bottom, #0052cc, #003d99);
  color: #fff;
  border: none;
}


.button_group button:hover {
  transform: translateY(-2px);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}


@media (min-width: 600px) {
  .button_group {
    flex-direction: row;
    justify-content: center;
    gap: 25px;
  }
}


.section_reveillion{
    padding: 40px 0;
    font-family: Montserrat;
    background-color: #ffffff;
}

.section_reveillion h3{
    font-size: 27px;
    font-weight: 750;
    margin-bottom: 9px;
    text-align: center;
}

#subtitle{
  font-size: 18px;
  color: #333;
  text-align: center;
}

.card{
  width: 250px;
  height: 230px;
  border-radius: 12px;
  overflow: hidden;
  display: inline-block;
  margin: 15px;
  position: relative;
  color: #fff;

}

.card_content p {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.3;
}

.card_content span {
  display: block;
  font-size: 22px;
  font-weight: 900;
}

.card_content small {
  font-size: 10px;
  font-weight: 400;
  padding: 12px 10px;
}

/* texto da parte inferior */
.card_text {
  position: absolute;
  bottom: 15px;
  left: 15px;
  text-align: left;
  font-size: 12px;
  color: #fff;
  padding-top: 20px;
}

/* preço destacado */
.card_price {
  display: inline;
  font-weight: 700;
  color: #fff;
}

/* botões de promoção */
.promo {
  position: absolute;
  bottom: 60px;
  left: 15px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-bottom: 15px;
  padding-left: 3px;
}

.promo button {
  background-color: #0052cc;
  border: none;
  color: white;
  font-size: 10px;
  font-weight: 700;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: 0.3s;
}

.promo button:hover {
  background-color: #003d99;
}

#card1 {
  background-image: url('../img/Reveillion-Card-1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#card2 {
  background-image: url('../img/Reveillion-Card-2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#card3 {
  background-image: url('../img/Reveillion-Card-3.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#card4 {
  background-image: url('../img/Reveillion-Card-4.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section_partiu{
      padding: 40px 0;
    font-family: Montserrat;
    background-color: #ffffff;
    text-align: center;
}

.section_partiu h3{
    font-size: 27px;
    font-weight: 750;
    margin-bottom: 9px;
    text-align: center;
}

